autopep8==2.0.2
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
click==8.1.3
conda==22.11.1
conda-content-trust 
conda-package-handling 
cryptography 
Flask==2.2.3
gunicorn==20.1.0
idna 
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
pdfCropMargins==1.1.18
Pillow==9.4.0
pluggy 
powerline-status==2.7
pycodestyle==2.10.0
pycosat 
pycparser 
PyMuPDF==1.21.1
pyOpenSSL 
PyPDF2==2.12.1
PySimpleGUI==4.60.4
PySocks 
requests 
ruamel.yaml 
six 
tomli==2.0.1
toolz 
tqdm 
urllib3 
Werkzeug==2.2.3
