autopep8
brotlipy
certifi 
cffi 
charset-normalizer 
click
cryptography 
Flask
gunicorn
idna 
itsdangerous
Jinja2
MarkupSafe
pdfCropMargins
Pillow
pluggy 
powerline-status
pycodestyle
pycosat 
pycparser 
PyMuPDF
pyOpenSSL 
PyPDF2
PySimpleGUI
PySocks 
requests 
ruamel.yaml 
six 
tomli
toolz 
tqdm 
urllib3 
Werkzeug
